
.container {
    max-width: 1200px;
    padding-left: 20px ;
    padding-right: 20px;
    margin-left: auto ;
    margin-right: auto;
}

.link{
   display: inline-block;
   color: var(--p1);
   font: 500 1.5rem/1.5 "poppins";
   text-transform: uppercase;


}
.link::after{
    content: "";
    height: 4px;
    width: 100%;
    display:block; /*utilizar display block e background color*/
    background-color: currentColor; /*utiliza sempre a mesma cor do elemento pai*/
}
.link:hover{
    color: var(--cor-0);
}




/* BOTAO */
.botao {
    background: linear-gradient(#ffb000 , #f2a50c) ;
    padding: 16px 32px;
    display: inline-block;
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 #00000062;
    text-transform: uppercase;
    color: #332200;
    font-size: 18px;
    line-height: 1.33;
    border: none;
    cursor: pointer;
   
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    max-width: max-content;


}

.botao:hover{
    background: linear-gradient(#ffb60d, #a1670f);
}
.botao.seta {
    display: flex;
    align-items: center;
}
.botao.seta:hover::after{
    transform: translateX(6px); /*animação da seta*/
    
}
.botao.seta:hover{
    color: rgb(0, 0, 0);
}
.botao.seta::after {
    content: "";
    display: inline-block;
    width: 18px;
    height: 10px;
    margin-left: 12px;
    background: url(../img/icones/seta.svg);
    transition: transform 0.2s;
    
    
}
@media(max-width: 600px){
    
    .botao {
        font-size: 1rem ;
    }

}


/*---------------------------------------------------*/
.botao.secundario{
    background: var(--cor-10);
    color: var(--cor-2);
}
.botao.secundario:hover{
    background: var(--cor-9);
}

/*Titulo interno*/

.titulo-bg{
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--cor-11);
}
.titulo p{
    margin-bottom: 4px;
}
@media (max-width: 800px){
    .titulo-bg{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .titulo p{
        font-size: 1rem;
        text-transform: lowercase;
        font-weight: 400;
    }
}
