.contatos-bg{
    background: var(--cor-12);
    color: var(--cor-0);
    
}
.contatos{
    max-width: 1200px;
    display: grid;
    grid-template-columns: 3fr 5fr 4fr;
    padding: 40px 30px ;
    text-align: left;
    
}
.contato-item h4, .contato-info h4{
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: 400;
}
.contato-item li , .contato-info li{
    margin-bottom: 10px;
    color: var(--cor--11);
} 
.contato-redes{
    grid-column: 2;
    display: flex;
    gap: 25px;
    padding-top: 10px;
    
    
}
.contato-item ul, .contato-info ul {
    color: var(--cor-7);
}
.footer{
    background-color: var(--cor-12);
    color: var(--cor-6);
    padding: 20px;
}
li#email::after , li#cidade::after {
    content: "";
    display: block;
    width: 70%;
    height: 1px;
    background-color:rgb(80, 80, 80);
    margin-top: 15px;

}
@media(max-width:800px){
    .contatos{
        grid-template-columns: 1fr 1fr;
    }
    .bikcraftsvg{
        display: none;
    }
    li#email::after , li#cidade::after{
        display: none;
    }
}
@media(max-width:600px){

    .contatos{
        padding: 20px 10px;
        grid-template-columns: 1fr;
    }
    .contato-item, .contato-info,.contato-redes{
        grid-template-columns: 1fr;
    }
}