.termos h2{
    padding-bottom:20px;
    font-weight: 600px;
}
.termos {
    padding-top: 80px;
    padding-bottom: 80px;
}
.termos p + h2 {
    margin-top: 40px;
}
.termos p + h2 {
    margin-top: 40px;
}
.termos p {
    max-width: 75ch;
    margin-bottom: 24px;
} 